@inherits LayoutComponentBase

<div class="app">
    <div class="app_content">
        @Body
    </div>
    @* <footer class="app_footer">
        &copy;@DateTime.Now.Year Librebooks. All Rights Reserved.
    </footer> *@
</div>

