.WxAlert[b-wfeykmi1u6] {
	padding: var(--space-sm) var(--space-md);
	border-radius: var(--border-radius-md);
	padding: var(--ui-space-md) var(--ui-space-lg);
	font-size: var(--ui-fontSize-md);
	margin: var(--ui-space-md) 0; 

	.WxAlert_Message {
		color: var(--color-status-danger-foreground-1);
	}

	&:not(.Wx--Danger)[b-wfeykmi1u6],
	&:not(.Wx--Success)[b-wfeykmi1u6],
	&:not(.Wx--Warning)[b-wfeykmi1u6],
	&:not(.Wx--Info)[b-wfeykmi1u6] {
		border: thin solid var(--border-default);
	}

	&.Wx--Danger[b-wfeykmi1u6] {
		color: var(--ui-danger-text);
		background-color: var(--ui-danger-bg);
		border: thin solid var(--ui-danger-border);
	}

	&.Wx--Success[b-wfeykmi1u6] {
		color: var(--ui-success-text);
		background-color: var(--ui-success-bg);
		border: thin solid var(--ui-success-border);
	}

	&.Wx--Info[b-wfeykmi1u6] {
		color: var(--ui-info-text);
		background-color: var(--ui-info-bg);
		border: thin solid var(--ui-info-border);
	}

	&.Wx--Warning[b-wfeykmi1u6] {
		color: var(--ui-warning-text);
		background-color: var(--ui-warning-bg);
		border: thin solid var(--ui-warning-border);
	}
}
