:host {
    display: contents;
}

.wx-input-group {
    display: flex;
    border: thin solid var(--border-color);
    // background-color: var(--bg-primary);
    background-color: #fff;
    color: var(--text-primary);
    border-radius: var(--radius-xs);
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    transition: all var(--transition-duration) var(--transition-timing);

    &:focus-within {
        border-color: var(--border-focus);
    }

    input[type] {
        flex: 1;
        background-color: transparent;
        border: none;
        outline: none !important;
        width: 100%;
        color: inherit;
        font-weight: 400;
        font-weight: inherit;
    }

    &.wx--small input[type] {
        padding: 0.25em 0.375em;
    }

    &.wx--medium input[type] {
        padding: 0.5em;
    }

    &.wx--large input[type] {
        padding: 0.75em;
    }
}