.root-layout {
    width: 100%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
}

.rootLayout__footer {
    width: 100%;
    height: 28px;
    margin-top: auto;
    border-top: thin solid var(--colors-grey4-light);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    box-sizing: border-box;
}

.footer-disclaimer {
    opacity: 0.75;
}

.rootLayout__content {
    width: 100%;
    min-height: calc(100vh - 28px);
}