.WxButton {
	display: flex;
	border-radius: var(--border-radius-md);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: transparent;
	transition: all ease 250ms;
	cursor: pointer;
	font-size: var(--ui-fontSize-md);
	color: var(--ui-text-primary);

	&[href] {
		text-decoration: none !important;
		color: var(--ui-text-primary);

		span {
			line-height: 1em;
			margin: 0;
		}
	}

	&.Wx--Tiny {
		padding: 0.15rem 0.25rem;
		font-size: 0.85rem;
	}

	&.Wx--Small {
		padding: 0.375rem 0.5rem;
	}

	&.Wx--Medium {
		padding: 0.55rem 0.5rem;
	}

	&.Wx--Large {
		padding: 0.75rem 1rem;
	}

	&.Wx--Fill {
		width: 100%;
	}

	&.Wx--Primary {
		background-color: var(--ui-accent-blue);
		color: var(--access-text);
	}

	&.Wx--Outlined {
		border: thin solid var(--color-neutral-stroke-1);
		background-color: var(--color-neutral-background-2);
	}

	&.Wx--Secondary {
		background-color: var(--color-brand-background);
		color: var(--color-neutral-background-1);
	}

	&.Wx--Minimal {
		&:hover {
			background-color: var(--neutral-muted-hover);
		}

		&:active {
			background-color: var(--color-Minimal-background-pressed);
		}

		&:focus {
			background-color: var(--color-Minimal-background-selected);
		}
	}

	.WxButton_Text {
		display: inline;
		margin: 0;
		margin-bottom: -0.10rem;
	}
}
