@page "/auth/reset-password"
@layout AuthLayout

@using LibrebooksBlazor.Providers.Services
@using Microsoft.AspNetCore.Components.Web
@using WxWidgets.Core.Alert
@inject UserManager<User> userManager
@rendermode InteractiveServer
@inject IVerificationService verificationService
@inject ILogger<ResetPassword> logger

<PageTitle>Reset Your Password</PageTitle>
@if (!string.IsNullOrEmpty(SuccessMessage))
{
	<WxAlert Intent="Intents.Success">
		@SuccessMessage
	</WxAlert>
}

@if (!complete)
{
	<EditForm Model="Input" OnSubmit="HandleSubmitAsync" FormName="ResetPasswordForm">
		<WxFormGroup Label="Verification Code" HelperText="Enter the OTP verification code sent to your inbox below."
					 ValidationStatus="Intents.Danger"
					 ValidationMessage=@GetValidationFor(nameof(Input.Code))>
			<WxInputGroup MaxLength="6"
						  @bind-Value:after="FilterCodeValueToNumbers"
						  InputClassName="CodeInput"
						  @bind-Value="Input!.Code"
						  Size="WxInputGroup.InputGroupSizes.Small"
						  Type="WxInputGroup.InputTypes.Number">
				<ContentAfter>
					<WxButton Inline="true" Size="WxButton.Sizes.Tiny"
							  OnClick="HandleResendVerificationCodeButtonAsync"
							  Appeareance="WxButton.Appearances.Minimal">Resend</WxButton>
				</ContentAfter>
			</WxInputGroup>
		</WxFormGroup>
		<WxFormGroup Label="Password" HelperText="Min 8 characters of mixed case letters, numbers, and symbols."
					 ValidationStatus="Intents.Danger"
					 ValidationMessage=@GetValidationFor(nameof(Input.Password))>
			<WxInputGroup Size="WxInputGroup.InputGroupSizes.Small" @bind-Value="Input!.Password" Type="WxInputGroup.InputTypes.Password" />
		</WxFormGroup>
		<WxFormGroup Label="Confirm Password"
					 ValidationMessage=@GetValidationFor(nameof(Input.ConfirmPassword))
					 ValidationStatus="Intents.Danger">
			<WxInputGroup Size="WxInputGroup.InputGroupSizes.Small" @bind-Value="Input!.ConfirmPassword" Type="WxInputGroup.InputTypes.Password" />
		</WxFormGroup>
		<WxButton Size="WxButton.Sizes.Medium" Inline="true" Type="WxButton.Types.Submit">Reset</WxButton>
	</EditForm>
	<WxButtonGroup>
		<WxButton Appeareance="WxButton.Appearances.Minimal" To="/auth">Change Email</WxButton>
		<WxButton Appeareance="WxButton.Appearances.Minimal" To=@GetLoginLink()>Back to Login</WxButton>
	</WxButtonGroup>
}
else
{
	<span class="password_reset_success">You have successfully reset your password. Continue to login and use your new password.</span>
	<WxButton To=@GetLoginLink()>Go To Login</WxButton>
}

@code
{
	[SupplyParameterFromForm(FormName = "ResetPasswordForm")]
	private FormModel? Input { get; set; }

	[SupplyParameterFromQuery(Name = "returnUrl")]
	public string? ReturnUrl { get; set; }

	[SupplyParameterFromQuery(Name = "email")]
	public string? Email { get; set; }

	private bool complete { get; set; }
	private string? SuccessMessage { get; set; }
	private ValidationResult? ModelState { get; set; }

	protected override void OnInitialized ()
	{
		base.OnInitialized();

		if (Email == null)
			navigation.NavigateTo("/auth", true);
		complete = false;
		Input ??= new();
		ModelState = new();
	}

	private string GetLoginLink ()
	{
		return $"/auth/login?email={Email}" + (string.IsNullOrEmpty(ReturnUrl) ? "" : $"&returnUrl= {ReturnUrl}");
	}

	private void FilterCodeValueToNumbers ()
	{
		logger.LogInformation(Input!.Code);

		if (string.IsNullOrEmpty(Input?.Code))
			return;

		Input.Code = Input.Code.Substring(0, 6);
	}

	private async Task HandleSubmitAsync ()
	{
		ModelState = new Validator().Validate(Input!);

		if (!ModelState.IsValid)
			return;

		var result = await verificationService.VerifyAsync(Email!, VerificationService.PASSWORD_RESET, Input!.Code!);

		if (!result.Succeeded)
		{
			ModelState.Errors.Add(new(nameof(Input.Code), "Invalid verification code."));
			return;
		}

		var user = await userManager.FindByNameAsync(Email!);

		if (user == null)
		{
			navigation.NavigateTo("/auth", true);
			return;
		}

		var passwordChangeResult = await userManager.ResetPasswordAsync(user, await userManager.GeneratePasswordResetTokenAsync(user), Input.Password!);

		if (passwordChangeResult.Succeeded)
		{
			complete = true;
			SuccessMessage = "Password successfully reset!";
			return;
		}

		if (passwordChangeResult.Errors.Any(p => p.Code.Contains("Password")))
			ModelState.Errors.Add(new(nameof(Input.Password), "Password doesn't meet requirements."));
	}

	protected override async Task OnAfterRenderAsync (bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);

		if (string.IsNullOrEmpty(SuccessMessage) || complete)
			return;
		SuccessMessage = null;
		await Task.Delay(5000);
		StateHasChanged();
	}

	private async Task HandleResendVerificationCodeButtonAsync ()
	{
		var result = await verificationService.AddAsync(new(Email!, VerificationService.PASSWORD_RESET));
		logger.LogInformation("Verification created for {email} with code: {code}", Email!, result.Code);
		SuccessMessage = "Verification code was successfully sent.";
		StateHasChanged();
	}

	private string? GetValidationFor (string propertyName)
		=> ModelState?.Errors.FirstOrDefault(p => p.PropertyName == propertyName)?.ErrorMessage;

	private class Validator : AbstractValidator<FormModel>
	{
		public Validator ()
		{
			RuleFor(p => p.Password)
				.Cascade(CascadeMode.Stop)
				.NotEmpty().WithMessage("Password is required.")
				.Must(p => p!.Length > 7).WithMessage("Password is too short.");

			RuleFor(p => p.Code)
				.Cascade(CascadeMode.Stop)
				.NotEmpty().WithMessage("Code is required.")
				.Must(p => p!.Length == 6).WithMessage("Code is too short.");

			RuleFor(p => p.ConfirmPassword)
				.Cascade(CascadeMode.Stop)
				.NotEmpty().WithMessage("Confirm password is required.")
				.Equal(p => p.Password).WithMessage("Passwords do not match.");
		}
	}

	private class FormModel
	{
		public string? Password { get; set; }
		public string? ConfirmPassword { get; set; }
		public string? Code { get; set; }
	}
}