:host {
    display: contents;
}

.wx-form-field {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    &_label {
        font-size: var(--font-size-sm);
        color: var(--text-color-secondary);
        font-weight: var(--font-weight-bold);
        line-height: 1em;
        margin: 0;
        padding: 0;
    }

    &_control {
        width: 100%;
    }

    &_validation-message {
        color: var(--color-intent-danger);
        font-size: var(--font-size-sm);
    }

    .wx-error {
        .wx-form-field_validation {
            color: var(--color-intent-danger);
        }
    }
}